@(authenticatedUser:Option[String])(content: Html)

@import website.Site._

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Rich Play! 2.0 Application">

    <title>WebSQL</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap-responsive.min.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <script src="@routes.Assets.at("lib/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/underscore-min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/backbone-min.js")" type="text/javascript"></script>

      </head>
  <body onload="prettyPrint()">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Websql</a>
          <div class="nav-collapse">
            <ul class="nav">
                @WebSite.mainMenu.map { item =>
              <li><a href="/@item._2">@item._1</a></li>
                }
            </ul>
              <div class="btn-group pull-right">
                  @**
                  @username.map{user=>
                      <a class="btn dropdown-toggle btn-user" data-toggle="dropdown" href="#">
                          @user
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="@routes.WebSQL.logout">Logout</a></li>
                      </ul>
                      
                }**@
                <li><a href="@routes.WebSQL.logout">Logout</a></li>
                <a class="btn btn-danger" href="/editSite">Edit site</a>
              </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      @content
      <hr>
      <footer>
        <p>Powered by &copy; InTech 2012</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
