@(queryResult:SqlStmt, detail:Option[(String,String)], username:Option[String])

@import views.helpers.Table._

@main("WebSql", username) {

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Websql</h1>
</div>

@table(queryResult,
    "[Prenom|Nom|Adresse|Comptes]",
    "[CLIENT.PRENOM|CLIENT.NOM|CLIENT.ADRESSE|Afficher les comptes]",

    withClass="table table-bordered",

    withLinks="[CLIENT.NOM->client(CLIENT.ID) | CLIENT.PRENOM->client(CLIENT.ID) | Afficher les comptes->clientAccounts(CLIENT.ID)]"
)


}