@(message: String)

@main("WebSql") {

<link rel="stylesheet" media="screen" href="assets/lib/prettify/prettify.css">
<script src="assets/lib/prettify/prettify.js" type="text/javascript"></script>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Websql</h1>
    <p>Dynamic Web Site generation based on SQL Queries</p>
</div>

<div class="row">
    <div class="span4">
        <h2>Create a new page with ease</h2>
        <p>
            WebSql allows you to dynamically create a new page only by entering a new SQL Query
            To create a new page that lists all clients :
            <pre class="prettyprint"><code>DetailPage("client")
  fromQuery "Select * from Client where id = {param}"</code></pre>
        </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Generate html, xml or json</h2>
        <p>
            You can generate html rendering either based on standard templates or by creating a specific template.
            Specific templates are easy to create with our simple syntax.<br/>
            You can also generate xml or json rendering by explicitly specifying the format.
            <pre><code><a href="/client/1" target="_blank">http://www.yoursite.com/client/1</a>
<a href="/client/1?format=xml" target="_blank">http://www.yoursite.com/client/1?format=xml</a>
<a href="/client/1?format=json" target="_blank">http://www.yoursite.com/client/1/?format=json</a></code></pre>        </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Dynamically modify your site directly in the browser</h2>
        <p>
            You can change your site without any editor directly in the browser by clicking the edit site button.
        </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>

}