@(queryResult:SqlStmt, detail:Option[(String,String)])

@import views.helpers.Table._

@main("WebSql") {

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Websql</h1>

    <p>A Rich Play! 2.0 Application</p>

    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns-->
<table id="listTable" class="table table-bordered">
    <thead>
    <tr>
        @queryResult.getTitles().map { col =>
        <th>@col</th>
        }
    </tr>
    </thead>
    <tbody>
    @queryResult.result.map { row =>
    @detail match {
        case Some((id,detailPage)) =>  {
                <tr onclick="parent.location='@routes.Application.pageWithParm(detailPage, row.get(id).get.toString())'">
                    }
        case None => {
                <tr>
                    }
    }
        @row.values.map { cell =>
        <td>@cell</td>
        }
    </tr>
    }
    </tbody>
</table>

@table(queryResult,
    "[Identifiant|Prenom|Nom|Adresse]",
    "[CLIENT.ID|CLIENT.PRENOM|CLIENT.NOM|CLIENT.ADRESSE]",
    withClass="table table-bordered",
    withLinks="[CLIENT.NOM->client(CLIENT.ID) | CLIENT.PRENOM->client(CLIENT.ID)]"
)


}