@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Rich Play! 2.0 Application">

    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap-responsive.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    <script src="@routes.Assets.at("lib/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/underscore-min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("lib/backbone-min.js")" type="text/javascript"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Websql</a>
          <div class="nav-collapse">
            <ul class="nav">
                @website.Site.menu.map { item =>
              <li><a href="@routes.Application.page(item._2)">@item._1</a></li>
                }
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      @content
      <hr>
      <footer>
        <p>&copy; Intech 2012</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
