@(queryResult:SqlStmt, detail:Option[(String,String)], username:Option[String])

@import views.helpers.Table._

@main("WebSql", username) {

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Websql</h1>
</div>

<form class="well form-search" method="POST" action="/rechercheCompte">
    Enter an IBAN:
    <input type="text" class="input-medium search-query" name="query">
    <button type="submit" class="btn">Search</button><br/>
    <span style="font-style: italic; font-size: small; ">For example: 1123-984702</span>
</form>

@table(queryResult,
    "[IBAN|Description|Solde|Devise]",
    "[COMPTE.IBAN|COMPTE.DESCRIPTION|COMPTE.SOLDE|COMPTE.DEVISE]",

    withClass="table table-bordered"
)


}