@(pageResult:PageResult)

@import website.Site._
@import views.helpers.Helpers._

@** TODO : pass username in PageResult **@
@main(WebSite.title, Some("User")) {

<form class="well form-search" method="POST" action="/rechercheCompte">
    Enter an IBAN:
    <input type="text" class="input-medium search-query" name="query" value="@pageResult.parameter("query")"/>
    <button type="submit" class="btn">Search</button><br/>
    <span style="font-style: italic; font-size: small; ">For example: 1123-984702</span>
</form>

<table class="table table-bordered">
	<thead>
		<tr>
		@for(title <- pageResult.defaultQuery.get.titles){
			<td>@title._2</td>
		}
		</tr>
	</thead>
	<tbody>
	@for(line <- pageResult.defaultQuery.get.data){
		<tr>
		@for(col <- line){
			<td>
			@col._3 match{
				case Some(link) => {
					@showLink(link,(col._1,col._2))
				}
				case _ => {
					@col._2
				}
			}
			</td>
		}
	}
	</tbody>
</table>

}